
                                                h1 {
                                                    color:blue;
                                                    text-align: center;
                                                }
                                                .first {
                                                    text-align: center;
                                                    color: aquamarine ;
                                                    
                                                    
                                                    font-family: 'Courier New', Courier, monospace;
                                                }

                                                .second {
                                                    text-align: center;
                                                    color: red ;
                                                    
                                                    
                                                    font-family: 'Courier New', Courier, monospace;

                                                }

                                                .section1 {

                                                    text-align: justify;
                                                
                                                }
                                                .section2 {

                                                    text-align: justify;
                                                
                                                }
                                                .section3 {
                                                    text-align: justify;
                                                
                                                }
                                                .section4 {

                                                    text-align: justify;
                                                
                                                }

        

