
                                                h1 {
                                                    color:blue;
                                                    text-align: center;
                                                }
                                                .first {
                                                    text-align: center;
                                                    color: aquamarine ;
                                                    
                                                    
                                                    font-family: 'Courier New', Courier, monospace;
                                                }

                                                .second {
                                                    text-align: center;
                                                    color: red ;
                                                    
                                                    
                                                    font-family: 'Courier New', Courier, monospace;

                                                }

                                                input[type=text]{
                                                    background-color: red;

                                                }

        

